# Optimisations pour Render
loglevel=error
progress=false
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Réduire l'utilisation de la mémoire
maxsockets=1
